<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="../static/script/main.js"></script>
    <title>Ordens de Serviço</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand bg-light fw-bold">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Sistema O.S.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/produto/cadastro">Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/prestador/cadastro">Prestador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/processo/cadastro">Processo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tamanho/cadastro">Tamanho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="bg-body rounded-3" style="margin:100px">
        <div class="container-fluid px-5">
            <h1>Cadastrar Prestador de Serviço</h1>
            <form action="" id="formCadastroPrestador">
                <div class="mb-3">
                    <label for="prestadorId" class="form-label">ID</label>
                    <input type="text" class="form-control" id="prestadorId" readonly="readonly" style="background: #EEE">
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="Insira o CPF do prestador">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Insira o nome do prestador">
                </div>
                <div class="mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Insira a cidade">
                </div>
                <div class="mb-3">
                    <label for="endereco" class="form-label">Endereço</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Insira o endereço">
                </div>
                <div class="mb-3">
                    <label for="servico" class="form-label">Serviço</label>
                    <input type="text" class="form-control" id="servico"
                           placeholder="Insira o serviço que será prestado">
                </div>
            </form>

            <button type="button" class="btn btn-primary" id="btn-salvar-prestador" onclick="salvarPrestador()">Salvar
            </button>
            <button type="button" class="btn btn-secondary"
                    onclick="document.getElementById('formCadastroPrestador').reset();">Novo
            </button>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#prestadorModal">
                Pesquisar
            </button>
        </div>
    </div>

    <div class="modal fade" id="prestadorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pesquisa de Prestadores</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nomeBusca" class="col-form-label">Informe o nome do prestador:</label>
                            <input type="text" class="form-control" id="nomeBusca">
                        </div>
                        <button type="button" class="btn btn-success" onclick="pesquisarPrestador()">Buscar</button>
                    </form>
                    <div style="height: 300px; overflow: scroll;">
                        <table class="table" id="tabelaPrestadores">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Serviço</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Deletar</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <p style="text-align: center">Ordem de Serviço - Douglas Viegas</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script type="text/javascript">

    function salvarPrestador() {
        var prestadorId = $("#prestadorId").val();
        var cpf = $("#cpf").val();
        var nome = $("#nome").val();
        var endereco = $("#endereco").val();
        var cidade = $("#cidade").val();
        var servico = $("#servico").val();

        if(cpf == null || cpf != null && cpf.trim() == '') {
            $("#cpf").focus();
            alert('Informe o CPF do prestador!');
            return;
        }
        if(nome == null || nome != null && nome.trim() == '') {
            $("#nome").focus();
            alert('Informe o nome do prestador!');
            return;
        }
        if(endereco == null || endereco != null && endereco.trim() == '') {
            $("#endereco").focus();
            alert('Informe o endereço do prestador!');
            return;
        }
        if(cidade == null || cidade != null && cidade.trim() == '') {
            $("#cidade").focus();
            alert('Informe a cidade do prestador!');
            return;
        }
        if(servico == null || servico != null && servico.trim() == '') {
            $("#servico").focus();
            alert('Informe o serviço do prestador!');
            return;
        }

        $.ajax({
            method: "POST",
            url: "salvar-prestador",
            data: JSON.stringify({prestadorId: prestadorId, cpf: cpf, nome: nome, endereco: endereco, cidade: cidade, servico: servico}),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#prestadorId").val(response.prestadorId);
                alert("Prestador salvo com sucesso!");
            }
        }).fail(function (xhr, status, errorThrown) {
            alert("Erro ao salvar prestador: " + xhr.responseText);
        });
    }

    function pesquisarPrestador() {
        var nome = $('#nomeBusca').val();

        if (nome != null && nome.trim() != '') {
            $.ajax({
                method: "GET",
                url: "buscar-prestador",
                data: "nome=" + nome,
                success: function (response) {
                    $('#tabelaPrestadores > tbody > tr').remove();
                    for (var i = 0; i < response.length; i++) {
                        $('#tabelaPrestadores > tbody').append('<tr id="'+response[i].prestadorId+'"><td>'+response[i].prestadorId+'</td><td>'+response[i].nome+'</td><td>'+response[i].servico+'</td>' +
                            '<td><button type="button" class="btn btn-primary" onclick="editarPrestador('+response[i].prestadorId+')">Ver</button></td>' +
                            '<td><button type="button" class="btn btn-danger" onclick="deletarPrestador('+response[i].prestadorId+')">Deletar</button></td></tr>');
                    }
                }
            }).fail(function (xhr, status, errorThrown) {
                alert("Erro ao buscar prestador: " + xhr.responseText);
            });
        }
    }

    function editarPrestador(id) {
        var nome = $('#nomeBusca').val();

        if (nome != null && nome.trim() != '') {
            $.ajax({
                method: "GET",
                url: "buscar-prestador-id",
                data: "prestadorId=" + id,
                success: function (response) {
                    $("#prestadorId").val(response.prestadorId);
                    $("#cpf").val(response.cpf);
                    $("#nome").val(response.nome);
                    $("#cidade").val(response.cidade);
                    $("#endereco").val(response.endereco);
                    $("#servico").val(response.servico);

                    $('#prestadorModal').modal('hide');
                }
            }).fail(function (xhr, status, errorThrown) {
                alert("Erro ao buscar id do prestador: " + xhr.responseText);
            });
        }
    }

    function deletarPrestador(id) {
        if(confirm('Deseja realmente deletar?')) {
            $.ajax({
                method: "DELETE",
                url: "deletar-prestador",
                data: "prestadorId=" + id,
                success: function (response) {
                    $('#' + id).remove();
                    alert(response);
                }
            }).fail(function (xhr, status, errorThrown) {
                alert("Erro ao deletar prestador: " + xhr.responseText);
            });
        }
    }

</script>
</body>
</html>